html {
  background: url(img/WAR.webp) no-repeat center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  font-weight: 500;
}

body {
  background-color: rgba(225, 225, 225, 0.6);
  width: 600px;
  margin: 25px auto;
  text-align: center;
  padding: 100px 50px 200px;
  border-radius: 50px;
}

.h2 {
  font-family: papyrus;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: xxx-large;
}

h2 {
  font-weight: bolder;
  font-variant: small-caps;
  padding-top: 70px;
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  font-weight: bolder;
  padding: 70px 10px 90px;
  font-variant: small-caps;
  color: rgb(0, 0, 0);
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

a:hover {
  text-transform: uppercase;
  color: rgb(217, 77, 0);
  text-decoration: rgb(255, 255, 255) underline;
  text-transform: var(90px);
  cursor: pointer;
}

.line {
  text-decoration: underline rgb(252, 27, 27);
}